.amenities-container {
  max-width: 800px;
  margin: auto;
}
h5 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}
.amenity-item {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.amenity-item:hover {
  background-color: #e9e9e9;
}
.amenity-icon {
  font-size: 22px;
  color: #333;
}
.amenity-text {
  margin-top: 10px;
  color: #666;
  font-size: 13px;
}
.checkin-checkout {
  margin-top: 50px;
}
.checkin-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.checkin-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 20px;
}
.checkin-title {
  font-size: 20px;
  color: #333;
}
.checkin-details {
  font-size: 16px;
  color: #666;
}

/* Location section */
.location-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.location-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}
.location-item {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
}
.location-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.location-icon {
  font-size: 2em;
  color: #333;
}
.location-text {
  margin-left: 20px;
  font-size: 18px;
  color: #333;
  flex-grow: 1;
}

/* At a glance Section */
.glance-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.glance-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}
.detail-section {
  margin-bottom: 30px;
}
.detail-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.detail-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.detail-header {
  padding: 20px;
  background-color: #f7f7f7;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.detail-body {
  padding: 20px;
}
.detail-icon {
  font-size: 2em;
  color: #007bff;
}
.detail-text {
  margin-left: 15px;
  font-size: 18px;
  color: #333;
}
